<template>
  <v-layout align-center justify-center row fill-height>
    <v-card width="70%">
      <v-card-title>
        All Leads
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="leads" :search="search">
        <template slot="items" slot-scope="props">
          <td>{{ props.item.name }}</td>
          <td>{{ props.item.mobile }}</td>
          <td>{{ props.item.email }}</td>
          <td>{{ props.item.dob }}</td>
          <td>{{ props.item.protein }}</td>
          <td>
            <!-- <v-btn icon>
              <i class="material-icons">attachment</i>
            </v-btn> -->
          </td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </v-layout>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      search: '',
      headers: [
        { text: 'Name', sortable: true, value: 'name' },
        { text: 'Mobile no.', sortable: false, value: 'mobile' },
        { text: 'Email address', sortable: false, value: 'email' },
        { text: 'Date of Birth', sortable: false, value: 'dob' },
        { text: 'Resume', sortable: false, value: null },
      ],
      leads: [
        {
          name: 'Albert E.',
          mobile: '9876543210',
          email: 'albert@gmail.com',
          dob: '01/11/90',
        },
        {
          name: 'Elon Musk',
          mobile: '0987654321',
          email: 'elon@tesla.io',
          dob: '21/05/79',
        },
        {
          name: 'Albert E.',
          mobile: '9876543210',
          email: 'albert@gmail.com',
          dob: '01/11/90',
        },
        {
          name: 'Elon Musk',
          mobile: '0987654321',
          email: 'elon@tesla.io',
          dob: '21/05/79',
        },
        {
          name: 'Albert E.',
          mobile: '9876543210',
          email: 'albert@gmail.com',
          dob: '01/11/90',
        },
        {
          name: 'Elon Musk',
          mobile: '0987654321',
          email: 'elon@tesla.io',
          dob: '21/05/79',
        },
        {
          name: 'Albert E.',
          mobile: '9876543210',
          email: 'albert@gmail.com',
          dob: '01/11/90',
        },
        {
          name: 'Elon Musk',
          mobile: '0987654321',
          email: 'elon@tesla.io',
          dob: '21/05/79',
        },
        {
          name: 'Albert E.',
          mobile: '9876543210',
          email: 'albert@gmail.com',
          dob: '01/11/90',
        },
        {
          name: 'Elon Musk',
          mobile: '0987654321',
          email: 'elon@tesla.io',
          dob: '21/05/79',
        },
        {
          name: 'Albert E.',
          mobile: '9876543210',
          email: 'albert@gmail.com',
          dob: '01/11/90',
        },
        {
          name: 'Elon Musk',
          mobile: '0987654321',
          email: 'elon@tesla.io',
          dob: '21/05/79',
        },
      ],
    };
  },
};
</script>

<style scoped>

</style>
