<template>
  <v-app>
    <header class="nav" v-if="['login'].indexOf($route.name) <= -1">
      <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="pink" dark app fixed>
        <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
          <span class="hidden-sm-and-down">Logo</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-badge left>
            <v-icon>notifications</v-icon>
          </v-badge>
        </v-btn>
        <v-menu bottom left>
          <v-btn slot="activator" dark icon>
            <v-icon>more_vert</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile @click="logout">
              <v-list-tile-title>Logout</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar>
      <v-content>
        <v-container fluid fill-height>
          <v-layout justify-center align-center>
          </v-layout>
        </v-container>
      </v-content>
    </header>
    <main>
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </main>
    </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
    items: [
      { icon: 'contacts', text: 'My Drive' },
      { icon: 'people', text: 'Shared with me' },
      { icon: 'schedule', text: 'Recent' },
      { icon: 'stars', text: 'Stared' },
      { icon: 'delete', text: 'Trash' },
    ],
  }),
  methods: {
    logout() {
      this.$router.push('/');
      console.log('Logged out!!!');
    },
  },
};
</script>


<style>
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html body {
  margin: 0;
  border: 0;
}
</style>
