<template>
  <v-app>
    <!-- <v-progress-linear id="progress-bar" :indeterminate="true" ></v-progress-linear> -->
    <v-content>
        <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="pink">
                <v-toolbar-title >Login</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field prepend-icon="person" name="email" label="E-mail" type="text" v-model="input.email" :rules="emailRules" required></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Password" type="password" v-model="input.password" :rules="passwordRules" required @keydown.enter="login"></v-text-field>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="pink" dark @click="login" :disabled="!valid">Login</v-btn>
              </v-card-actions>
                </v-form>
              </v-card-text>
            </v-card>
            <v-snackbar v-model="snackbar" :timeout="6000">
              {{ text }}
              <v-btn dark flat @click="snackbar = false">
                Close
              </v-btn>
            </v-snackbar>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      showLoader: false,
      valid: true,
      snackbar: false,
      text: 'Invalid username and password, please try again.',
      passwordRules: [v => !!v || 'Password is required'],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
      input: {
        email: null,
        password: null,
      },
    };
  },
  methods: {
    login() {
      if (this.$refs.form.validate()) {
        this.showLoader = true;
        setTimeout(() => {
          if (this.input.email === 'test@gmail.com' && this.input.password === 'password') {
            localStorage.setItem('isLoggedIn', true);
            this.$router.push('/home');
          } else {
            this.showLoader = false;
            this.snackbar = true;
          }
        }, 2000);
      }
    },
  },
};
</script>

<style scoped>
#progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
}

.red--text {
  margin-left: 30px;
}
